{% block banniere %}
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive bantop" src="{{ asset('assets/images/imgbantop.jpg') }}" alt="Bannière" />
        <div class="logo">
        <img class="col-lg-4 img-responsive logo" src="{{  asset('assets/images/logo.png') }}" alt="Logo" />
        </div>
        <div class="col-lg-8 slogan">
            <img class="img-responsive slogan" src="{{  asset('images/pas2.png') }}" alt="Slogan" />
        </div>
    </div>
    </div>
{% endblock %}