{% block banniere %}
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive bantop" src="{{ asset('assets/images/imgbantop.jpg') }}" alt= "Bannière" />
    </div>
    </div>
{% endblock %}