{% block banniere %}
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive bantop" src="{{ asset('assets/images/imgbantop.jpg') }}" alt="Bannière" />
        <div class="logo">
        <img class="img-responsive logo" src="{{  asset('assets/images/logo.png') }}" alt="Logo" />
        </div>
    </div>
    </div>
{% endblock %}