{% extends 'EcoStepBunddle::squelette.html.twig' %}
{% block banniere %}
<div class="col-lg-12 bantop">
    <img class="img-responsive imgbantop" src="{{ asset ('./asset/images/imgbantop')}}" alt="Bannière d'accueil">
</div>
{% endblock %}