{% extends '@Ecostep/Default/squelette.html.twig' %}

{% block content %}

    <div class="container-fluid" id="about-user">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-5">
                <p class="text-presentation text-center">Bonjour Guillaume. <br />
                Bienvenue sur votre compte.</p>
            </div>
            <div class="col-lg-7">
                <i class="fa fa-user fa-6" aria-hidden="true"></i>
            </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-7">
                <p class="text-presentation2 text-center">Voici votre progression :</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-lg-offset-2 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
            <div class="col-lg-1 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" alt="">
            </div>
        </div>
    </div>
{% endblock %}