{%  extends 'EcostepBundle:Default:squelette.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 text-center">
                <h2>Trouver les produit autour de vous :</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Tapez un ville" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg vert" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accro1">
                <h1 class="titreaccro">Qu'est-ce que la transition écologique ?</h1>
                <p class="textaccro1">
                    C'est l'évolution vers des actions, collectives ou individuelles qui contribue au changement du modèle économique et social actuel. Elle transforme en profondeur les façons de consommer, de produire et de vivre ensemble.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="accro2">
                <h1 class="titreaccro">Pourquoi ?</h1>
                <p class="textaccro1">
                    Ces raisons sont tellement personnelles et propres à chacun que vous les lister ne serait pas logique. Une seule chose est sûre vous souhaiter un changement.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="accro3">
                <h1 class="titreaccro">Et comment faire ?</h1>
                <p class="textaccro1">
                    Ne cherchez plus ! Notre site vous apporte tous les conseils, les indications et les outils dont vous avez besoin pour avancer et faire à votre rythme votre transition écologique.
                    Découvrez notre application mobile et participer à de nombreux concours et défis ludiques. Vous aussi rejoignez la communauté des Ecofriends !
                </p>
            </div>
        </div>
    </div>
{% endblock %}

