{% extends 'EcostepBundle:Default:squelette.html.twig' %}

{% block stylesheet %}{% endblock %}


{% block content %}
    <h3>My Google Maps Demo</h3>
    <div id="map">
    </div>
    <script>
        function initMap() {
            var paris = {lat: -30.363, lng: 140.044};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: paris
            });
            var marker = new google.maps.Marker({
                position: paris,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
{% endblock %}
