{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Alimentation</a>
                    </li>
                    <li><a href="#"><i class="fa fa-plug" aria-hidden="true"></i>
                            Energie</a></li>
                    <li><a href="#"><i class="fa fa-bicycle" aria-hidden="true"></i>
                            Transport</a></li>
                    <li><a href="#"><i class="fa fa-leaf" aria-hidden="true"></i>
                            Bien-être</a></li>
                    <li><a href="#"><i class="fa fa-recycle" aria-hidden="true"></i>Recyclage</a></li>
                    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                            Habitat</a></li>
                    <li><a><i class="fa fa-paper-plane" aria-hidden="true"></i>Loisirs</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}