{% extends '@Ecostep/Default/squelette.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img class="imgresize" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.labonnegraine.com%2F2766-thickbox%2Ftomate-saint-pierre-bio.jpg&f=1" alt="tomate_bio">
            </div>
            <div class="col-lg-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel turpis accumsan, laoreet tellus at, fringilla mauris.
                    Duis massa massa, elementum in justo ac, dapibus vulputate est. Sed condimentum orci vitae nisi egestas hendrerit. Vestibulum in convallis augue.
                    Maecenas scelerisque ante erat, a laoreet ligula sagittis sit amet. Maecenas mollis ultricies interdum. Nam ornare tempor viverra. Pellentesque vel ex arcu.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 text-center ">
                <ul class="list-unstyled styleliste">
                    <li style="border-bottom: 1px solid white"><h1 >Bienvenue sur la page des Produits alimentaires bios</h1></li>
                    <li><p style="font-size: 25px">Retrouvez ici une carte interactive des distributeurs bios et AMAP :</p></li>
                </ul>
            </div>
        </div>
    </div>
    <iframe class="center-block" width="80%" height="650px" frameBorder="0" src="http://umap.openstreetmap.fr/en/map/untitled-map_110474?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false&datalayers=267244"></iframe>
{% endblock %}