
/*########## Début CSS bannière ##########*/

.bantop {
    height: 300px;
    width: 100%;;
}
/*########## Fin CSS bannière ##########*/

/*########## Début NavBar ##########*/



/*########## Fin NavBar ##########*/


/* ########## GOOGLE MAP ########## */

#map {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}

