body {
    background-image: url("../images/fontcontent50.jpg");
}
.bodyback {
    height: 25vh;
}
/*########## Début CSS bannière ##########*/

.bantop {
    height: 300px;
    width: 100%;;
}
.logo {

    width: 250px;
    height: auto;
    margin-top: -140px;
}
.slogan {
    height: 60px;
    width: auto;
    margin-left: 200px;
    margin-top: -20px;
}
ul li,
ul i{
    color: #A77E48;
    margin-right: 2px;
}
.picto {
    height: 40px;
    width: 40px;
}
.navbar{
    min-height: 60px;
}
/*########## Fin CSS bannière ##########*/

/*########## Début NavBar ##########
ul{
    color: white;
    width: 100%;
    margin-left: 15%;
}
li {
    color: white;
}
.nav {
    margin:auto;
    background-color: #6d995c;
}
.navbar {
    margin-left: 8%;
}
.menua {
    background-color: #1b6d85;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menub {
    background-color: #4cae4c;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menuc {
    background-color: #9d9d9d;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menud {
    background-color: #761c19;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menue {
    background-color: #adadad;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menuf {
    background-color: #eb9316;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 20px 0 20px;
}
.menug {
    background-color: darkgreen;
    width: 13%;
    text-align: center;
    color: white;
    border-radius: 0 15px 0 15px;
}
########## Fin NavBar ##########*/

/*########## ESSAI NAV ##########*/

.navbase {
    height: 50px;
    background-color: #6d995c;
}
li {
    display: inline-block;
    color: white;
}
.picto {
    height: 20px;
    width: 20px;
}
/*########## FIN ESSAI ##########*/




/* ########## GOOGLE MAP ########## */

#map {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}

/*====================================*\
				FOOTER
\*====================================*/

.footer-distributed{
    background-color: rgb(186, 241, 140);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Crimson Text', serif;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
/*########## Début rond ##########*/

.cercle1 {
    height: 250px;
    width: 250px;

}

.cache {
    color: white;
}

.cache:hover{
    color: black;
    opacity: .55;
}

.gdTitreAlim {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #BAF18C;
    padding-top:-10px;
    border-radius: 5px;

}

.uneAlim {
    margin-bottom: 50px;
}

.alimTitre2 {

    opacity:1;

 }
/* ########## Mobile ########## */

    .store{
        width: 25%;
    }
    .appstore{
        margin-top: 50px;

    }
    .appstore p{
        font-size: large;
    }
    .i{
        margin-right: 2px;
    }
    .imgresize{
        width: 260px;
    }
    .styleliste{
        text-shadow: 1px 1px black;
    }
    .vert{
        background-color: #BAF18C;
        border: #BAF18C;
    }
    .vert:hover{
        background-color: forestgreen;
        border: forestgreen;
    }