<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenu sur Ecostep{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block banniere %}
        {% endblock %}

        {% block navbar %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>


